.login_container{
    background-color: $main-container-bg;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    border: solid 1px #E1E1E1;
    display: flex;
    justify-content: center;
    align-items: center;

    .login_form_container{
        width: 400px;
        .login_heading{
            display: flex;
            align-items: center;
            margin-bottom: 50px;
            .login_heading_text{
                font-family: $NunitoBold;
                font-size: 30px;
            }
            .login_heading_icon{
                font-size: 60px;
                margin-right: 25px;
                color: $primary-color;
            }
        } 
        
        .login_title_container{
            margin-bottom: 40px;
            .login_title{
                color: #8B7021;
                border-left: solid 4px #897028;
                font-family: $NunitoBold;
                font-weight: 900;
                font-size: 20px;
                line-height: 25px;
                padding-left: 15px;
                margin-bottom: 15px;
            }
            .login_sub_title{
                font-family: $NunitoSemiBold;
            }
        }

        .login_input_container_dotted{
          margin-bottom: 30px;
            .login_input_label{
                font-family: $NunitoExtraBold;
                margin-bottom: 10px;
            }
            .login_input{
                border-radius: 25px;
                border: dashed 2px $primary-color;
                font-size: 20px;
                .login_input_field{
                    border-radius: 25px;
                    width: 100%;
                    border: none;
                    height: 42px;
                    padding: 10px;
                }
            }
            .login_input:hover{
                box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
            }

        }

      

        .login_input_container{
            
            .login_input_label{
                font-family: $NunitoExtraBold;
                margin-bottom: 10px;
            }
            .login_input{
                border-radius: 25px;
                border: solid 1px #909090;
                font-size: 20px;
                position: relative;
                display: flex;
                align-items: center;
                .login_input_field{
                    border-radius: 25px;
                    width: 100%;
                    border: none;
                    height: 42px;
                    padding: 10px 40px 10px 10px;
                }

                .login_input_lock_icon{
                    position: absolute;
                    right: 20px;
                    color: $primary-color;
                }
            }

            .login_input:hover{
                box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
            }
        }

        .forgot_password_link{
            color: #9F9F9F;
            font-family: $NunitoSemiBold;
            margin-top: 20px;
            text-decoration: underline;
            cursor: pointer;
        }

        .login_button{
            border-radius: 25px;
            background: $primary-color;
            border: none;
            color: #ffffff;
            padding: 12px 50px;
            font-family: $NunitoBold;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            margin-top: 40px;
        }
    }
}